body{
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
	max-width: 950px;
	min-width: 950px;
}

#pageHeader{
	height: 250px;
	/* background-color: red; */
}

#appTitle{
	height: 55%;
	width: 60%;
	float: left;
	margin-top: 10px;
	margin-left: 10px;
	/* background-color: pink; */
	text-align: center;
}

#appTitle p{
	font-family: arial;
	font-size: 72pt;
	margin: 0;
	padding: 0;
}

#userInfo{
	height: 55%;
	width: 30%;
	background-color: grey;
	margin-top: 10px;
	margin-right: 10px;
	float: right;
}

#breadcrumb{
	height: 10%;
	width: 100%;
	/* background-color: yellow; */
	float: left;
	line-height: 100%;
	font-size: 12pt;
}

#pageTitle{
	height: 30%;
	width: 100%;
	/* background-color: orange; */
	float: left;
}

#pageTitle p{
	font-family: arial;
	font-size: 36pt;
	margin: 0;
	padding: 0;
}

#pageFooter{
	height: 50px;
	/* background-color: blue; */
}

#footerCopyright{
	height: 50%;
	width: 30%;
	/* background-color: green; */
	margin: auto;
	text-align: center;
	font-size: 10;
}

/* Style the tab */
div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

.customFormLabel{
	margin: 0px;
	padding: 0px;
}

.customFormInput{
	width: 50%;
	margin: 3px;
	padding: 0px;
}

.actionButton{
	padding: 0px;
	margin: 0px;
}


.tooltip {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 10px 10px;
    position: absolute;
    z-index: 1;
    top: 15px;
    left: 110%;
    margin-left: -60px;
	font-size: 8pt;
	opacity: 0;
    transition: opacity 1s;
	color: yellow;
}

.tooltip::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}

.toolTipParent:hover .tooltip {
    visibility: visible;
	opacity: 1;
}

.responseMessage{
	margin: 0px;
	padding: 0px;
}

.timeCardTable{
	border: 1px solid black;
}

.timeCardTable th{
	border: 1px solid black;
	padding: 10px;
	width: 75px;
}

.timeCardTable td{
	border: 1px solid black;
	text-align: center;
}


.timeCardTable input{
	display: inline-block;
	width: 75px;
}

.detailButton{
	float: right;
	background:none!important;
    color:inherit;
    border:none; 
    padding:0!important;
    font: inherit;
    cursor: pointer;
}

.searchResultTable{
	border: 1px solid black;
	font-size: 12px;
	font-style: none;
	font-family: arial;
}

.searchResultTable th{
	border: 1px solid black;
	width: 300px;
}

.searchResultTable td{
	border: 1px solid black;
}

.searchResultTable td button{
	padding: 0px 5px;
	margin-left: 10px;
}

.searchResultTable .tabcontent{
	padding: 0px;
}